.color1 {color: #2cffa0;}
.color2 {color: #e8ff69;}
.color3 {color: #0528e9;}
.color4 {color: #aa6afd;}
.color5 {color: #ffccf4;}

* {
	margin: 0;
	padding: 0;
}
/*fieldset{
	padding: 0;
	border: none;
}*/
input[type="search"]{
	//background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	height: 80%;
	padding: 10px;
	margin: 4px;
	border-radius: 6px;
	//font-size: small;
	border: none;
}

.main-page{
	//background-color: #ffccf4;
	margin: 0;
	padding: 0;
}

.head-bar{
	position: fixed;
	display: flex;
	width: 100%;
	height: 60px;
	left: 80px;
	top: 0px;
	justify-content: flex-end;
	background: #6EEB83;

	/*display: flex;
	background-color: #aa6afd;
	width: 100%;
	height: 40px;*/
}
.head-bar-title{
	//background-color: white;
	display: flex;
	width: auto;
	height: 100%;
	margin-left: 1%;
	margin-right: auto;
	align-items: center;
}
.head-bar-serch{
	//background-color: blue;
	display: flex;
	width: auto;
	height: 100%;
	margin-right: 2%;
}
.head-bar-profile{
	//background-color: grey;
	display: flex;
	width: 150px;
	height: 100%;
}
.head-icon{
	display: flex;
	align-self: center;
	width: auto;
	height: 80%;
	left: 1800px;
	top: 8px;
}

.page-content{
	background-color: #1BE7FF80;
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	left: 80px;
	top: 60px;
}

.side-bar{
	position: absolute;
	width: 80px;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #FF5714;

	/*background-color: #0528e9;
	position: fixed;
	width: 40px;
	height: 100%;*/
}
.side-icon{
	display: flex;
	align-self: center;
	width: 80%;
	height: auto;
	//left: 1800px;
	//top: 8px;
}

.formul{
	background-color: violet;
	display: flex;
	position:  sticky;
	height: 50px;
	width: 200px;
	float: right;
	//margin-left: auto;
	//margin-right: 20px;
}